<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{166,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{166,108}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>symbol1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,360},{106,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{106,116}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>symbol10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,138}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{180,138}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>symbol2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{142,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{142,132}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>symbol3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{114,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{114,126}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>symbol4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,112},{138,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{138,132}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>symbol5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,380},{124,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{124,108}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>symbol6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{126,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{126,110}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>symbol7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,246},{132,112}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{132,112}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>symbol8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,136},{132,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{132,116}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>symbol9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{136,120}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{136,120}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grid.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:876e12e32cb5d3b2c605ce1a82d66f6c$</string>
            <key>textureFileName</key>
            <string>grid.png</string>
        </dict>
    </dict>
</plist>
