<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigwinimg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,406},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>bigwinimg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,400},{93,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{93,49}}</string>
                <key>sourceSize</key>
                <string>{95,55}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{84,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{146,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,164}}</string>
                <key>sourceSize</key>
                <string>{146,164}</string>
            </dict>
            <key>megawinimg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,304},{94,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,69}}</string>
                <key>sourceSize</key>
                <string>{94,69}</string>
            </dict>
            <key>megawinimg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,304},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>superwinimg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,406},{94,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,69}}</string>
                <key>sourceSize</key>
                <string>{96,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdde418f8b59f03e8e02677160e6898e$</string>
            <key>textureFileName</key>
            <string>coin.png</string>
        </dict>
    </dict>
</plist>
