<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Armature_newAnimation3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1686},{397,324}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,354},{397,324}}</string>
                <key>sourceSize</key>
                <string>{1023,1024}</string>
            </dict>
            <key>Armature_newAnimation3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1684},{397,326}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,353},{397,326}}</string>
                <key>sourceSize</key>
                <string>{1023,1024}</string>
            </dict>
            <key>Armature_newAnimation3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{397,328}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,352},{397,328}}</string>
                <key>sourceSize</key>
                <string>{1023,1024}</string>
            </dict>
            <key>Armature_newAnimation3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1354},{397,328}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,353},{397,328}}</string>
                <key>sourceSize</key>
                <string>{1023,1024}</string>
            </dict>
            <key>Armature_newAnimation3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1022},{397,330}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,352},{397,330}}</string>
                <key>sourceSize</key>
                <string>{1023,1024}</string>
            </dict>
            <key>Armature_newAnimation3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{397,332}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,351},{397,332}}</string>
                <key>sourceSize</key>
                <string>{1023,1024}</string>
            </dict>
            <key>Armature_newAnimation3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{397,334}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,350},{397,334}}</string>
                <key>sourceSize</key>
                <string>{1023,1024}</string>
            </dict>
            <key>Armature_newAnimation3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,684},{397,336}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,349},{397,336}}</string>
                <key>sourceSize</key>
                <string>{1023,1024}</string>
            </dict>
            <key>Armature_newAnimation3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{397,338}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,348},{397,338}}</string>
                <key>sourceSize</key>
                <string>{1023,1024}</string>
            </dict>
            <key>Armature_newAnimation3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,344},{397,338}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,349},{397,338}}</string>
                <key>sourceSize</key>
                <string>{1023,1024}</string>
            </dict>
            <key>Armature_newAnimation3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{397,340}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,348},{397,340}}</string>
                <key>sourceSize</key>
                <string>{1023,1024}</string>
            </dict>
            <key>Armature_newAnimation3_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{397,342}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,347},{397,342}}</string>
                <key>sourceSize</key>
                <string>{1023,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_aniCow2.png</string>
            <key>size</key>
            <string>{800,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:534e3dba0b3e5a0c8b4e4d47cd5cecd8$</string>
            <key>textureFileName</key>
            <string>atlas_aniCow2.png</string>
        </dict>
    </dict>
</plist>
