<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Armature_newAnimation2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,680},{397,341}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,342},{397,341}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,676},{397,341}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,343},{397,341}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,680},{399,341}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,344},{399,341}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{397,339}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,346},{397,339}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,339},{397,339}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,346},{397,339}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,339},{397,339}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,347},{397,339}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,337},{397,337}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,349},{397,337}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{397,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,350},{397,337}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,2},{397,335}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,352},{397,335}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{397,335}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,353},{397,335}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{397,333}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,355},{397,333}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{399,335}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,354},{399,335}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{397,333}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,356},{397,333}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_aniChikn1.png</string>
            <key>size</key>
            <string>{1935,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c6c35a92a737b7b372ab9bb39a3ef58$</string>
            <key>textureFileName</key>
            <string>atlas_aniChikn1.png</string>
        </dict>
    </dict>
</plist>
