<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Armature_newAnimation2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{399,335}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,354},{399,335}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1705},{397,333}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,355},{397,333}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1368},{397,335}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,353},{397,335}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1703},{397,335}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,352},{397,335}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{397,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,350},{397,337}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1029},{397,337}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,349},{397,337}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1023},{397,339}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,347},{397,339}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,688},{397,339}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,346},{397,339}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{397,339}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,346},{397,339}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{399,341}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,344},{399,341}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,345},{397,341}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,343},{397,341}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
            <key>Armature_newAnimation2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{397,341}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,342},{397,341}}</string>
                <key>sourceSize</key>
                <string>{1023,1037}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_aniChikn2.png</string>
            <key>size</key>
            <string>{802,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6505747a99911bcb3c88c296bade4692$</string>
            <key>textureFileName</key>
            <string>atlas_aniChikn2.png</string>
        </dict>
    </dict>
</plist>
