<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>getline0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1094},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>getline1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,912},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>getline10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,730},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>getline11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,548},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>getline12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,366},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>getline13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,184},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>getline14.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>getline15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1438},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>getline2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>getline3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>getline4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>getline5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>getline6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>getline7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>getline8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>getline9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>getLine.png</string>
            <key>size</key>
            <string>{326,1600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d027f88a9573a0fabf7d281a45438ce$</string>
            <key>textureFileName</key>
            <string>getLine.png</string>
        </dict>
    </dict>
</plist>
