<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i10_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,346},{180,138}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{180,138}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,346},{180,144}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{180,144}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,528},{180,150}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,150}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,164},{180,142}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{180,142}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,892},{180,126}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{180,126}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,892},{180,126}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{180,126}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{180,130}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{180,130}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,164},{180,144}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{180,144}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,710},{180,150}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,150}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,346},{180,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,158}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,710},{180,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,528},{180,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,346},{180,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{180,154}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,528},{180,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{180,154}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,164},{180,152}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{180,152}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,710},{180,150}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,150}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,710},{180,148}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{180,148}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i10_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,164},{180,146}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{180,146}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grid10.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8885ce53a3bd27cdd99428a0fec40a1b$</string>
            <key>textureFileName</key>
            <string>grid10.png</string>
        </dict>
    </dict>
</plist>
