<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i02_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,312},{142,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{142,132}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,324},{140,134}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{140,134}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{168,156}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{168,156}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{178,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{176,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{176,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{172,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{172,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{168,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{168,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,444},{132,132}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{132,132}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,164},{160,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{160,158}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,164},{150,146}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{150,146}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,214},{146,140}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{146,140}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,310},{142,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{142,132}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,446},{124,128}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,16},{124,128}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,460},{114,122}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,19},{114,122}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{106,110}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,25},{106,110}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,110},{102,104}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,25},{102,104}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,356},{140,130}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{140,130}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,164},{150,144}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{150,144}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i02_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,322},{160,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{160,152}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grid2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d705d95876dc5d9dae4ff511ebfff44$</string>
            <key>textureFileName</key>
            <string>grid2.png</string>
        </dict>
    </dict>
</plist>
