<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i07_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,438},{132,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{132,112}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,320},{138,118}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{138,118}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{164,156}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{164,156}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{178,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{178,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{174,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{168,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{168,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,314},{140,122}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{140,122}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,164},{160,154}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{160,154}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,164},{150,140}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{150,140}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,306},{142,130}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{142,130}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,438},{132,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{132,112}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,358},{136,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{136,122}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,440},{126,116}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{126,116}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{112,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,26},{112,106}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,116},{100,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{100,100}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,322},{136,126}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{136,126}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,218},{146,138}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{146,138}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i07_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,164},{158,148}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{158,148}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grid7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f323a33da5179517f762d169544464d7$</string>
            <key>textureFileName</key>
            <string>grid7.png</string>
        </dict>
    </dict>
</plist>
