<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i06_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{126,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{126,110}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,528},{134,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{134,122}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,776},{164,150}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{164,150}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{178,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{176,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{176,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{172,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{172,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{164,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{164,158}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,390},{136,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{136,130}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,244},{158,150}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{158,150}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,562},{150,140}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{150,140}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,244},{144,134}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{144,134}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,552},{138,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{138,128}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,692},{134,134}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{134,134}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,382},{126,126}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{126,126}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,130},{112,108}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,25},{112,108}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,244},{102,102}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{102,102}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,244},{136,118}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{136,118}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,404},{146,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{146,124}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i06_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,404},{156,132}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{156,132}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grid6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b3ef246b2b1ff0005544a4ba58e9476$</string>
            <key>textureFileName</key>
            <string>grid6.png</string>
        </dict>
    </dict>
</plist>
