<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i00_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,164},{166,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{166,108}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,170},{164,108}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{164,108}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,164},{168,156}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{168,156}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{178,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{176,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{176,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{172,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{172,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{168,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{168,160}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,324},{154,106}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{154,106}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,164},{166,158}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{166,158}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,872},{166,146}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{166,146}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,322},{166,138}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{166,138}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{166,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,25},{166,108}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{144,102}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{144,102}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,400},{132,98}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{132,98}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,280},{120,102}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{120,102}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,384},{112,104}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,25},{112,104}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,268},{140,130}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{140,130}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{150,144}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{150,144}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>i00_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,274},{160,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{160,152}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grid0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b3fb8108fe733a35ba052dbaf334738$</string>
            <key>textureFileName</key>
            <string>grid0.png</string>
        </dict>
    </dict>
</plist>
