<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>05_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{1280,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,135}}</string>
                <key>sourceSize</key>
                <string>{1280,135}</string>
            </dict>
            <key>BGdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,761},{1059,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1059,63}}</string>
                <key>sourceSize</key>
                <string>{1059,65}</string>
            </dict>
            <key>BGup.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,759},{1043,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{1043,124}}</string>
                <key>sourceSize</key>
                <string>{1047,126}</string>
            </dict>
            <key>Cover_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,761},{1106,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{1106,87}}</string>
                <key>sourceSize</key>
                <string>{1112,93}</string>
            </dict>
            <key>Cover_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,163},{1073,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1073,54}}</string>
                <key>sourceSize</key>
                <string>{1073,54}</string>
            </dict>
            <key>FastOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{122,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{122,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FastOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1890},{124,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>L_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,556},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>Li-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,416},{111,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,138}}</string>
                <key>sourceSize</key>
                <string>{111,140}</string>
            </dict>
            <key>Spin_ICON.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,670},{96,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{96,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Stop_ICON.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,835},{67,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{67,67}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>arrow_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,546},{21,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{21,33}}</string>
                <key>sourceSize</key>
                <string>{39,63}</string>
            </dict>
            <key>arrow_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,712},{21,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{21,33}}</string>
                <key>sourceSize</key>
                <string>{39,63}</string>
            </dict>
            <key>autoBG00.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,779},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>autoBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,743},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>autoBG10.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,608},{251,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,67}}</string>
                <key>sourceSize</key>
                <string>{251,67}</string>
            </dict>
            <key>autoBG11.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,608},{251,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,67}}</string>
                <key>sourceSize</key>
                <string>{251,67}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,484},{69,65}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{69,65}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>betBtnBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,783},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>betPess.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{35,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{35,11}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>betPlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,555},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>bet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,822},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bet_list0.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,788},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bet_list1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,754},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bet_listBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,106},{318,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,500}}</string>
                <key>sourceSize</key>
                <string>{318,500}</string>
            </dict>
            <key>boxBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,608},{224,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,60}}</string>
                <key>sourceSize</key>
                <string>{224,60}</string>
            </dict>
            <key>btnInfo00.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1804},{66,74}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{66,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btnInfo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1822},{66,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{66,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btnLineBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1890},{144,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,60}}</string>
                <key>sourceSize</key>
                <string>{144,60}</string>
            </dict>
            <key>btnMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,677},{111,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,100}}</string>
                <key>sourceSize</key>
                <string>{111,100}</string>
            </dict>
            <key>btnRecord00.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,872},{66,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btnSetting01.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,669},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{72,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,677},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>btn_auto_efx.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{133,1890},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>btn_auto_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,766},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>first01.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,641},{33,53}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{33,53}}</string>
                <key>sourceSize</key>
                <string>{39,63}</string>
            </dict>
            <key>icon_infinite.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,556},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,25}}</string>
                <key>sourceSize</key>
                <string>{48,25}</string>
            </dict>
            <key>infoDot00.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2016},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>infoDot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,712},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>iocn_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,106},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>last01.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,606},{33,53}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{33,53}}</string>
                <key>sourceSize</key>
                <string>{39,63}</string>
            </dict>
            <key>messageBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{643,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{643,412}}</string>
                <key>sourceSize</key>
                <string>{645,412}</string>
            </dict>
            <key>messageBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,484},{275,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,77}}</string>
                <key>sourceSize</key>
                <string>{275,77}</string>
            </dict>
            <key>money_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,484},{229,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,60}}</string>
                <key>sourceSize</key>
                <string>{229,60}</string>
            </dict>
            <key>money_ICON.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,676},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>musicBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1890},{156,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,67}}</string>
                <key>sourceSize</key>
                <string>{156,67}</string>
            </dict>
            <key>musicBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,842},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>newDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{520,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,66}}</string>
                <key>sourceSize</key>
                <string>{520,66}</string>
            </dict>
            <key>return.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,670},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1804},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{72,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1878},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{160,160}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>switch_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,783},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>tip_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,670},{100,82}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{100,82}}</string>
                <key>sourceSize</key>
                <string>{106,102}</string>
            </dict>
            <key>tip_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{360,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,102}}</string>
                <key>sourceSize</key>
                <string>{360,102}</string>
            </dict>
            <key>totalbet_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1869},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>totalbet_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,843},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>userInfoB.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,546},{224,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,60}}</string>
                <key>sourceSize</key>
                <string>{224,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>accessory.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:152fc6f45859413f3851e20aac36831d$</string>
            <key>textureFileName</key>
            <string>accessory.png</string>
        </dict>
    </dict>
</plist>
