<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BnumberBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{804,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,426}}</string>
                <key>sourceSize</key>
                <string>{804,426}</string>
            </dict>
            <key>BnumberBGend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1058,1058}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{1058,1058}}</string>
                <key>sourceSize</key>
                <string>{1066,1066}</string>
            </dict>
            <key>bigBGani.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{392,385}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{392,385}}</string>
                <key>sourceSize</key>
                <string>{396,387}</string>
            </dict>
            <key>bigBGdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{646,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,200}}</string>
                <key>sourceSize</key>
                <string>{646,200}</string>
            </dict>
            <key>bigBGfree-cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1062},{304,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{304,169}}</string>
                <key>sourceSize</key>
                <string>{308,171}</string>
            </dict>
            <key>bigBGfree-cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,500},{496,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,265}}</string>
                <key>sourceSize</key>
                <string>{496,265}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,650},{308,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,171}}</string>
                <key>sourceSize</key>
                <string>{308,171}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{496,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,265}}</string>
                <key>sourceSize</key>
                <string>{496,265}</string>
            </dict>
            <key>eff_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1502},{84,84}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,151},{84,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,960},{96,96}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,145},{96,96}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1921},{104,108}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,140},{104,108}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1921},{110,118}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,136},{110,118}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1368},{120,130}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,130},{120,130}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1360},{130,140}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,127},{130,140}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1708},{138,148}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,124},{138,148}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1882},{146,156}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,121},{146,156}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1554},{152,164}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,117},{152,164}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1188},{158,170}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,114},{158,170}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1708},{162,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,114},{162,172}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1376},{164,176}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,111},{164,176}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1816},{168,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,111},{168,178}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1858},{170,180}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,110},{170,180}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1684},{172,182}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,109},{172,182}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f16.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1258},{174,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,108},{174,184}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,998},{176,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,107},{176,186}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1188},{176,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,107},{176,186}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,998},{178,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,106},{178,188}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1626},{178,188}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,106},{178,188}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1434},{180,190}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,105},{180,190}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f22.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1490},{182,192}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,104},{182,192}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f23.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1062},{184,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,103},{184,194}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_f24.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1794},{184,196}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,102},{184,196}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>freeCountBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1490},{462,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,302}}</string>
                <key>sourceSize</key>
                <string>{462,302}</string>
            </dict>
            <key>freespin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1877},{384,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,85}}</string>
                <key>sourceSize</key>
                <string>{384,85}</string>
            </dict>
            <key>win_tit.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1794},{255,125}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{255,125}}</string>
                <key>sourceSize</key>
                <string>{321,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>altas_BG.png</string>
            <key>size</key>
            <string>{1531,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fc10516436aa7e347a6186f19fdb648$</string>
            <key>textureFileName</key>
            <string>altas_BG.png</string>
        </dict>
    </dict>
</plist>
